{% extends 'front/master.html' %}
{% load static %}

{% block head %}
	<title>
		Edit	"{{	quiz	}}"
	</title>
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/courses/manage/form.css' %}">
	<link rel="stylesheet" href="">
{% endblock %}

{% block main %}
<div class="content">
	<div class="page-heading-container">
    	<h1>Edit	"{{	quiz.title	}}"</h1>
	</div>
    <div	class="contents-container">
        <h2 class="page-sub-heading">Quiz	questions</h2>
        <form class="form-horizontal"	action=""	method="post">
            {{	formset	}}
            {{	formset.management_form	}}
            {%	csrf_token	%}
            <input	type="submit"	class="button btn"	value="Save	questions">
        </form>
    </div>
{%	endblock	%}