body {
	background-image: url('/static/images/c1.jpg');
}


#slider_search_container {
	display: none !important;
}

#lg-nav2 .lag-nav2-item-container a {
	color: white;
}

.dropdown .dropdown-menu {
	background-color: black;
}



.user_form {
	margin: auto;
	width: 100%;
	background-color: white;
	padding: 20px;
	border-radius: 2px;
}

.page-sub-heading {
	text-align: center;
}

.profile_img {
	width: 120px;
	height: 140px;
	padding: 5px;
	border-radius: 8px;
  }


.section_1 {
	display: flex;
	flex-wrap: wrap;
}

.section_1 p {
	padding: 5px 30px;
}

#slider_search_container {
	display: none !important;
}

@media screen and (min-width: 769px) {
	.user_form {
		margin: auto;
		width: 800px;
	}

	.profile_img {
		width: 180px;
		height: 200px;
		padding: 5px;
		border-radius: 8px;
	  }
}