{% extends 'front/master.html' %}
{% load static %}

{% block head %}
<title>My discussions </title>
<link rel="stylesheet" href="{% static 'css/courses/manage/list.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="">
{% endblock %}

{% block main %}
<div class="content">
	<div class="page-heading-container">
		<h1 page-heading>My discussions </h1>
	</div>
	<div class="contents-container">
		{% for discussion_topic in object_list %}
		<div class="card course-card">
			<h3>{{ discussion_topic.title	}}</h3>
			<p>
			<a href="{% url 'discussion_topic_edit' discussion_topic.id %}">Edit</a>
			<a href="{% url 'discussion_topic_delete' discussion_topic.id %}">Delete</a>
			<a href="{% url 'discussion_topic_post_update' discussion_topic.id %}">Edit posts</a>
			{% if discussion_topic.posts.count > 0 %}
				<a href="">Manage replies</a>
			{% endif %}
			</p>
		</div>
		{% empty %}
		<p>You haven't created any discussions	yet.</p>
		{% endfor %}
		<p>
			<a	href="{% url 'discussion_topic_create' %}" class="button btn">Create new discussion topic</a>
		</p>
	</div>
</div>

{%	endblock	%}