.footer {
	display: none;
}

#logo_lg {
	display: none;
}

#slider_search_container {
	display: none;
}

.page_hearding {
	text-align: center;
	margin: auto;

}

.lg-nav-background {
	display: none !important;
}

.lg-nav2 {
	display: none !important;
}