#carouselExampleIndicators .carousel-item img {
	object-position: center;
	overflow: hidden;
	height: 50vh;
	width: 100%;
  }

#carouselExampleIndicators2 .carousel-item img {
	object-position: center;
	overflow: hidden;
	height: 25vh;
  }

  #carouselExampleIndicators3 .carousel-item img {
	object-position: center;
	overflow: hidden;
	height: 25vh;
  }

  #carouselExampleIndicators4 .carousel-item img {
	object-position: center;
	overflow: hidden;
	height: 25vh;
  }

  .row {
	margin: 0px !important;
  }

  .corousel1 {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;

  }

  .corousel2 {
	padding: 0;
	  
}

.corousel3 {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 0px;
	  
}

.corousel4 {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 0px;
	  
}

.corousel_row2 {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}


@media screen and (max-width: 460px) {
	#carouselExampleIndicators .carousel-item img {
		object-position: center;
		overflow: hidden;
		height: 50vh;
		width: 100%;
	  }
	
	#carouselExampleIndicators2 .carousel-item img {
		object-position: center;
		overflow: hidden;
		height: 30vh;
	  }
	
	  #carouselExampleIndicators3 .carousel-item img {
		object-position: center;
		overflow: hidden;
		height: 25vh;
	  }
	
	  #carouselExampleIndicators4 .carousel-item img {
		object-position: center;
		overflow: hidden;
		height: 25vh;
	  }
	
	
	
}

@media screen and (min-width: 575px) {

	.corousel3 {
		padding-left: 0px;
		padding-right: 1px;
		padding-top: 2px;
		padding-bottom: 0px;
		  
	}
	
	.corousel4 {
		padding-left: 1px;
		padding-right: 0px;
		padding-top: 2px;
		padding-bottom: 0px;
		  
	}

	.card_item {
		padding-left: 1px;
		padding-right: 1px;
		padding-top: 0px;
		padding-bottom: 0px;
	
	}


	
	
}

@media screen and (min-width: 768px) {
	.corousel1 {
		padding-left: 0px;
		padding-right: 1px;
		padding-top: 0px;
		padding-bottom: 2px;
	
	  }
	
	  .corousel2 {
		padding-left: 1px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		  
	}
	
}