a {
	text-decoration: none;
  }
  
  
.content {
	margin: 0px;
}

span
{
    white-space:nowrap
}

#search-addon {
	background-color: rgba(0, 0, 0, 0.611);
	outline: none;
	border: none;
	color: white;
}

#search-addon:hover {
	background-color: rgba(0, 0, 0, 0.807);
	color: rgba(255, 255, 255, 0.526);
	
}


.card_item {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.banner {
	background-image: url("/static/images/c1.jpg");
	width: 100%;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.subscribe {
	margin-top: 15px;
	background-color: black;
	padding: 15px;
  }
  
  .subscribe_txt {
	color: white;
  }
  
  .subscribe_form {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: black;
	display: flex;
	flex-direction: row;
  }
  
  .subscribe_input {
	border: none;
	padding: 5px;
	width: 100%;
  }
  
  .subscribe_form input:focus {
	outline: none;
  }
  
  .subscribe_button {
	border: none;
	background-color: white;
  }
  
  .subscribe_button i {
	color: lightslategray;
  }
  
  .subscribe_button i:hover {
	color: blue;
  }

  .tags {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
  }
  
  .tag {
	padding: 5px 10px;
	margin: 5px;
	border: 1px solid rgb(167, 165, 165);
	border-radius: 20px;
  }
  

.form_search {
	margin-right: 3px;
}

#search {
	margin: 0;
	outline: none;
	border: none;
	
}

.no_padding {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

.card {
	margin-top: 10px;
	margin-bottom: 5px;
  }

  
  .carousel-item {
	transition-duration: 1.5s, 1.5s !important;
  }


.row {
	margin: 0px !important;
  }

.row_item {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}


@media screen and (max-width: 460px) {


.form_search {
	margin-top: 5px;
	margin-right: 0px;
	width: 100%;
}

.input_search {
	display: flex;
}

}

.footer {
	padding: 20px;
	background-color: rgb(39, 39, 39);
	font-size: 13px;
	justify-content: center;
	color: white;
  }
  
  .footer_header {
	margin-top: 15px;
	color: white;
  }
  
  .social_icons {
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
  .social_icons a {
	font-size: 18px;
	display: inline-block;
	background: #545454;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  .social_icons a:hover {
	background: darkblue;
	color: #fff;
	text-decoration: none;
  }
  
  #fb:hover {
	background-color: darkblue;
  }
  
  #tw:hover {
	background-color: rgb(83, 100, 248);
  }
  
  #ig:hover {
	color: purple;
	background-color: white;
  }
  
  #in:hover {
	background-color: blue;
  }
  
  #yt:hover {
	background-color: red;
  }
  

  #cfb {
	color: darkblue;
	background-color: white;
  }
  
  #ctw {
	color: rgb(83, 100, 248);
	background-color: white;
  }
  
  #cig {
	color: purple;
	background-color: white;

  }
  
  #cin {
	color: blue;
	background-color: white;
  }
  
  #cyt {
	color: red;
	background-color: white;
  }

  #cyt:hover, #cin:hover, #cig:hover,#ctw:hover, #cfb:hover {
	  background-color: rgb(186, 185, 185) !important;
  }
  

  .footer_section {
	display: flex;
	flex-direction: column;
	color: gray;
  }

  .footer_section a {
	color: gray;
}

.footer_section a:hover {
	color: white;
}
  
  .footer_latest_img {
	float: left;
	width: 80px;
	height: 50px;
	margin: 5px;
  }
  
  .hr_footer {
	color: darkgrey;
  }
  
  .copyright {
	text-align: center;
	color: gray;
  }
  
  .bc_dark {
	background-color: black !important;
  }

#banner {
	background-color: rgba(0, 0, 0, 0.7);
	justify-items: center;
	color: white;
	height: 70px; 
	width: 100%;
	
	
}

#banner_txt {
	text-align: center;
	margin-top: 20px;
}


@media screen and (min-width: 992px) {

	#banner {
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);
	}

	#logo_md {
		display: none !important;
	}
}

.search_form_lg {
	max-width: 400px;
	margin-bottom: 3px;
}

.breadcrumb {
	padding: 10px;
	background-color: rgb(55, 55, 55);
  }

  .breadcrumb > .breadcrumb-item a {
	color: white;
  }

  .breadcrumb > .breadcrumb-item a:hover {
	text-decoration: underline;
	box-shadow: 0px 4px 25px rgba(254, 255, 255, 0.074);
  }

  .social_icons_abt {
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
  .social_icons_abt a {
	font-size: 18px;
	display: inline-block;
	color: #545454;
	
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  #popular_top  {
	display: flex;
	height: 35px;
	color: black;
	margin-left: 5px;
}

#popular_slider {
	height: 25px;
	width: 100%;
	color: rgba(0, 0, 0, 0.745);
}

.latest_sub_item a {
	font-weight: 600;
	color: black;
}

.latest_sub_item p {
	color: rgb(71, 71, 71);
	font-size: small;

}

.latest_sub_item a:hover {
	text-decoration: underline;
}

.latest_img_sm {
	float: left;
	width: 100px;
	height: 75px;
	margin: 5px;
}

.add_input {
	width: 100%;
	font-size: 15px;
	padding: 10px;
	border-radius: 4px;
	border: 1.5px solid hsla(210, 1%, 31%, 0.76);
	outline: none;
	margin-bottom: 32px;
	background-color: rgba(255, 255, 255, 0.392);
  }

.button {
	
}
  