{% extends 'back/master.html' %}
{% load static %}

{% block head %}
<title>Admin Contacts List | E-Learn</title>

<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css">
<link href="https://cdn.datatables.net/select/1.4.0/css/select.bootstrap5.min.css">
<link rel="stylesheet" href="{% static 'css/back/tables.css' %}">

{% endblock %}


{% block main %}
<div class="page-heading-container">
	<h1 class="page-heading">
		All Contacts Table
	</h1>
</div>
<label id="l-select-all" style="margin: 10px;"> Select All <input type="checkbox" name="select_all" value="1" id="select-all"></label> 
<div class="btn-container" >
	<button class="btn-top" id="view">View Selected</button>
	<button class="btn-top" id="edit">Edit Selected</button>
	<button class="btn-top" id="verify">Verify Selected</button>
	<button class="btn-top btn-delete" id="delete">Delete Selected</button>

</div>

<table id="notes" class="table responsive table-striped dt-responsive nowrap" style="width:100%;  background-color: white;">
	<thead>
		
		<tr>
			<th>Id </th>
			<th>Name</th>
			<th>E-mail</th>
			<th class="description">Message</th>
			<th>Date </th>
			<th>Seen</th>
			<th>Manage</th>
			
		</tr>
	</thead>
	<tbody>
		{% for contact in contacts %}
		<tr id="{{ contact.pk }}" class="data">
			<td > <span><i class="fa-solid fa-circle-plus expand"></i> </span>{{ contact.id }}</td>
			<td>{{ contact.name }}</td>
			<td> {{ contact.email }}</td>
			<td>{{ contact.message }}</td>
			<td>{{ contact.date }}</td>
			{% if contact.seen != 0 and contact.seen != "" %}<td class="yes">YES</td>{% else %}<td class="no">No</td>{% endif %} 
			<td><div class="">
				<a href="" class="cell-btn"><i class="fa-solid fa-pencil" id=""></i> Reply&nbsp;&nbsp;&nbsp;</a>
				<form role="form" id="form_verify" class="form-horizontal" method="post">
					{% csrf_token %}
					<input name="contact_id" value="{{ contact.pk }}" hidden="true">
					<button  type="submit" id="verify-contact" style="width: 138px;"   class="cell-btn btn-verify" > <i class="fa-solid {% if contact.seen == 1 %}fa-circle-xmark{% else %}fa-circle-check{% endif %}"></i>{% if contact.seen == 1 %} mark as un-seen {% else %}mark as seen {% endif %}</button>
				</form>
				<a href="{% url 'back_contact_delete' pk=contact.pk %}" class="cell-btn cell-btn-delete"><i class="fa-solid fa-trash" id=""></i> Delete</a>
			</div></td>
			
		</tr>
		
		{% endfor %}
		
	</tbody>
</table>
{% endblock %}

{% block script %}

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>

<script src="{% static 'js/administers/notes.js' %}"></script>
<script>
	$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});

	
	$('form').submit(function(e){
        e.preventDefault();
		$(window).scrollTop(0)
		$('#ajax-loader').show()
		$('#loading-text').text("Please Wait...")
		$('body').css({ overflow: 'hidden',height: '100vh' });
		
		var form = $(e.target);
        $.ajax({
            url: '{% url "back_contact_list" %}',
            type: 'post',
            data: form.serialize(),
            error: function(xhr, ajaxOptions, thrownError){ 
				alert(thrownError); 
				$('#ajax-loader').hide();
			},
            success: function(data){
				if (data.success === true) {
					current_location = window.location.pathname
					txt = current_location.split('/')
					$('#loading-text').text("Verified!")
					$('#ajax-loader').delay(500).fadeOut()

					setTimeout(function(){
						$('#ajax-loader').hide();
						$('body').css({ overflow: 'auto' });
					},600); 
					alert(`${data.message}`)
					location.reload()
					
				} 
				else {
					alert(`${data.message}`)
					$('#ajax-loader').hide()
					$('body').css({ overflow: 'auto' });
					location.reload()
				}
				
			}
        })
 	})

</script>

{% endblock %}

