{% extends 'back/master.html' %}
{% load static %}

{% block head %}
<title>Admin Notes List | E-Learn</title>

<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css">
<link href="https://cdn.datatables.net/select/1.4.0/css/select.bootstrap5.min.css">
<link rel="stylesheet" href="{% static 'css/back/tables.css' %}">

{% endblock %}


{% block main %}
<table id="notes" class="table table-striped dt-responsive nowrap" style="width:100%; background-color: white;">
	<thead>
		<tr>
			<th>Id</th>
			<th>Image</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Profile Name</th>
			<th>Phone</th>
			<th>Gender</th>
			<th>Date of Birth</th>
			<th>School</th>
			<th>School Level</th>
			<th>Program</th>
			<th>E-mail</th>
			<th>About</th>
		</tr>
	</thead>
	<tbody>
		<tr id="1">
			<td > <span><i class="fa-solid fa-circle-plus expand"></i> </span> Tiger</td>
			<td>Nixon</td>
			<td>System Architect</td>
			<td>Edinburgh</td>
			<td>61</td>
			<td>61</td>
			<td>2011-04-25</td>
			<td>$320,800</td>
			<td>5421</td>
			<td>2011-04-25</td>
			<td>$320,800</td>
			<td>5421</td>
			<td>t.nixon@datatables.net</td>
		</tr>

		<tr id="2">
			<td><span><i class="fa-solid fa-circle-plus expand"></i> Garrett</td>
			<td>Winters</td>
			<td>Accountant</td>
			<td>Tokyo</td>
			<td>63</td>
			<td>61</td>
			<td>2011-07-25</td>
			<td>$170,750</td>
			<td>8422</td>
			<td>2011-07-25</td>
			<td>$170,750</td>
			<td>8422</td>
			<td>g.winters@datatables.net</td>
		</tr>

		<tr id="2">
			<td><span><i class="fa-solid fa-circle-plus expand"></i> Ashton</td>
			<td>Cox</td>
			<td>Junior Technical Author</td>
			<td>San Francisco</td>
			<td>61</td>
			<td>66</td>
			<td>2009-01-12</td>
			<td>$86,000</td>
			<td>66</td>
			<td>2009-01-12</td>
			<td>$86,000</td>
			<td>1562</td>
			<td>a.cox@datatables.net</td>
		</tr>

		<tr id="3">
			<td><span><i class="fa-solid fa-circle-plus expand"></i> Cedric</td>
			<td>Kelly</td>
			<td>Senior Javascript Developer</td>
			<td>Edinburgh</td>
			<td>61</td>
			<td>22</td>
			<td>2012-03-29</td>
			<td>$433,060</td>
			<td>22</td>
			<td>2012-03-29</td>
			<td>$433,060</td>
			<td>6224</td>
			<td>c.kelly@datatables.net</td>
		</tr>

		<tr id="4">
			<td><span><i class="fa-solid fa-circle-plus expand"></i> Airi</td>
			<td>Satou</td>
			<td>Accountant</td>
			<td>Tokyo</td>
			<td>61</td>
			<td>33</td>
			<td>2008-11-28</td>
			<td>$162,700</td>
			<td>33</td>
			<td>2008-11-28</td>
			<td>$162,700</td>
			<td>5407</td>
			<td>a.satou@datatables.net</td>
		</tr>
		
	</tbody>
</table>
{% endblock %}

{% block script %}

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>

<script src="{% static 'js/administers/notes.js' %}"></script>

{% endblock %}

