{% extends 'front/master.html' %}
{% load static %}

{% block head %}
<title>
	Delete note
</title>

<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/courses/manage/delete.css' %}">
<link rel="stylesheet" href="">
{% endblock %}

{% block main %}
	<div class="content">
		<div class="page-heading-container">
			<h1 class="page-heading">Delete note "{{ object.title }}"</h1>
		</div>
		<div	class="contents-container">
			<form class="form-delete"	action=""	method="post">
				{%	csrf_token	%}
				<p>Are you	sure you want to delete	Note "{{	object	}}"?</p>
				<input id="btn-delete"	type="submit"	class="btn"	value="Confirm">
			</form>
		</div>
{%	endblock	%}