{% extends 'front/master.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>
	{% if object %}
		Edit note	"{{	object.title }}"
	{%	else %}
		Create a new note
	{% endif %}
</title>
<link rel="stylesheet" href="{% static 'css/courses/manage/form.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="">
{% endblock %}

{% block main %}
<div class="content">
	<div class="page-heading-container">
		<h1 class="page-heading">
		{% if object %}
		Edit note	"{{	object.title }}"
		{% else %}
		Create a new note
		{% endif %}
		</h1>
	</div>
	<div class="contents-container">
        <h2 class="page-sub-heading">Note info</h2>
        <form class="form-horizontal"	action="."	method="post">
            {{form|crispy }}
            {%	csrf_token	%}
            <p><input	type="submit" class="button btn"	value="Save	note"></p>
        </form>
	</div>
</div>
{%	endblock %}