{% extends 'front/master.html' %}
{% load static %}

{% block head %}
<title>
	{% if object %}
		Edit note	"{{	object.title }}"
	{%	else %}
		Create a new note
	{% endif %}
</title>
<link rel="stylesheet" href="">
{% endblock %}

{% block main %}
	<h1>
	{% if object %}
	Edit note	"{{	object.title }}"
	{% else %}
	Create a new note
	{% endif %}
	</h1>
	<div class="module">
        <h2>Note info</h2>
        <form	action="."	method="post">
            {{	form.as_p	}}
            {%	csrf_token	%}
            <p><input	type="submit"	value="Save	note"></p>
        </form>
	</div>
{%	endblock %}