{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	

	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

	
	{% block head %}

	{% endblock %}
	
</head>
<body>
	<div id="ajax-loader">
		<p id="loading-text">Please wait ...</p>
		<div class="lds-ripple"><div></div><div></div></div>
	</div>

	<div class="lg-nav-background">
		<div class="lg-nav">
			<div class="lg-nav-items-container">
				<a class="lg-nav-item" href="{% url 'about' %}" href="{{ social.link }}">About</a>
				<a class="lg-nav-item" href="{% url 'contact' %}">Contact</a>
				{% if user.is_authenticated %}
				<a class="lg-nav-item" href="{% url 'dashboard' pk=request.user.pk %}">User Dashboard</a>
				<a class="lg-nav-item" href="{% url 'user_profile' pk=user.pk %}">Profile</a>
				<a class="lg-nav-item" href="{% url 'logout' %}">Logout</a>
				{% else %}
				<a class="lg-nav-item" class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#myModal">Log in | Sign up</a>
				{% endif %}
			</div>
			<div>
				<div class="lg-nav-social-icons">
					{% for social in about.socials.all %}
					<a style="color: white;" id="{% if social.social_name == 'facebook' %}cfb{% elif social.social_name == 'twitter' %}ctw{% elif social.social_name == 'instagram' %}cig{% elif social.social_name == 'linkedin' %}cin{% elif social.social_name == 'youtube' %}cyt{% endif %}"
					 title="{{ social.display_title }}" href="{{ social.link }}">
					 <i class="{{ social.social_font_owesome_icon }}"></i></a>
					{% endfor %}
				</div>
			</div>
			
		</div>
	</div>
	
	
	<nav class="navbar sm-nav navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand d-lg-none" href="{% url 'home' %}">
				<i class="fa-solid fa-book-open-reader" width="25" height="20"></i>
				<strong style="color: #3f6ad8;">E-</strong>LEARN
			</a>

			{% if not user.is_authenticated %}
			<a class="d-flex ms-auto login d-none d-lg-block" style="color: white;" type="button"   data-bs-toggle="modal" data-bs-target="#myModal">Login | SignUp</a>
			{% endif %}
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			  {% if not user.is_authenticated %}
			  <li class="nav-item d-lg-none">
				<a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#myModal">Login | SignUp</a>
			  </li>
			  {% endif %}
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/">Home</a>
			  </li>
			  {% if user.is_authenticated %}
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'dashboard' pk=request.user.pk %}">Dashboard</a>
			  </li>
			  {% endif %}
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'course_list' %}">Courses</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'note_list' %}">Notes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'quiz_list' %}">Quizzes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Bookmarks</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="{% url 'discussion_topic_list' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Discussion Forum
				</a>
				<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">		
					<li><a class="dropdown-item" href="{% url 'discussion_topic_list' %}">Discussion Topics</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="{% url 'all_posts' %}">All Posts</a></li>
				 
				</ul>
			  </li>
			  {% if user.is_authenticated %}
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'user_profile' pk=request.user.pk %}">Profile</a>
			  </li>
			  {% endif %}
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'about' %}">About Us</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'contact' %}">Contact</a>
			  </li>
			  <li class="nav-item">
				{% if user.is_authenticated %}
				<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				{% endif %}
			  </li>
			</ul>
		  </div>

		</div>
	</nav>

	{% include 'includes/messages.html' %}

	<div class="master-container" >
	
		<div class="card " id="logo_lg" >
			<div class="card-body card-logo-lg" style="display: flex;">
				<div style="margin: auto;" class="d-none d-lg-block">
					<a id="navbar-brand" title="Home" class="navbar-brand" href="{% url 'home' %}" style="color: black; font-size: 25px; font-weight: 900; padding-left: 5px;">
						<i class="fa-solid fa-book-open-reader"></i>
						<strong style="color: #3f6ad8; font-size: 25px;">E-</strong>LEARN
					</a>
					
				</div>
				<div id="banner">
					<p id="banner_txt">{{ site.banner_txt }}</p>
				</div>
			</div>
		</div>

		<div class="lg-nav2" id="lg-nav2" >

			<div class="lag-nav2-item-container dropdown show">
				<a class="lag-nav2-item dropdown-toggle" href="{% url 'home' %}" role="button" id="dropdownMenuLink" data-bs-hover="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="#latest">Latest</a>
					<a class="dropdown-item" href="#most-popular">Most Popular</a>
					<a class="dropdown-item" href="/#subscribe">Subscribe</a>
				</div>
			</div> 
			
			
			<div class="lag-nav2-item-container dropdown show">
				<a class="lag-nav2-item dropdown dropdown-toggle" href="{% url 'course_list' %}" role="button" id="dropdownMenuLink" data-bs-hover="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="{% url 'course_list' %}">All Couses</a>
					<a class="dropdown-item" href="{% url 'course_create' %}">Upload Course</a>
					<a class="dropdown-item" href="{% url 'manage_course_list' %}">My Courses</a>
				</div>
			</div>
	
			<div class="lag-nav2-item-container dropdown show">
				<a class="lag-nav2-item dropdown dropdown-toggle" href="{% url 'note_list' %}" role="button" id="dropdownMenuLink" data-bs-hover="dropdown" aria-haspopup="true" aria-expanded="false">Notes</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="{% url 'note_list' %}">All Notes</a>
					<a class="dropdown-item" href="{% url 'note_create' %}">Upload Note</a>
					<a class="dropdown-item" href="{% url 'manage_note_list' %}">My Notes</a>
				</div>
			</div>
	
			<div class="lag-nav2-item-container dropdown show">
				<a class="lag-nav2-item dropdown dropdown-toggle" href="{% url 'quiz_list' %}" role="button" id="dropdownMenuLink" data-bs-hover="dropdown" aria-haspopup="true" aria-expanded="false">Quizzes</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="{% url 'quiz_list' %}">All Quizzes</a>
					<a class="dropdown-item" href="{% url 'quiz_create' %}">Upload Quiz</a>
					<a class="dropdown-item" href="{% url 'manage_quiz_list' %}">My Quizzes</a>
				</div>
			</div>
	
			<div class="lag-nav2-item-container dropdown show">
				<a class="lag-nav2-item dropdown dropdown-toggle" href="{% url 'discussion_topic_list' %}" role="button" id="dropdownMenuLink" data-bs-hover="dropdown" aria-haspopup="true" aria-expanded="false">Discussion Forum</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="{% url 'discussion_topic_list' %}">Discussion Topics</a>
					<a class="dropdown-item" href="{% url 'all_posts' %}">All Posts</a>
					<a class="dropdown-item" href="{% url 'manage_discussion_topic_list' %}">My Posts</a>
				</div>
			</div>
	
			<div class="lag-nav2-item-container dropdown show">
				<a class="lag-nav2-item dropdown dropdown-toggle" href="{% url 'about' %}" role="button" id="dropdownMenuLink" data-bs-hover="dropdown" aria-haspopup="true" aria-expanded="false">Features</a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<a class="dropdown-item" href="{% url 'about' %}">About</a>
					<a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a>
				</div>
			</div>
		</div>
		<hr>
	
		<div class="row" id="slider_search_container" style="padding-top: 5px; padding-bottom: 2px; background-color: white;">
			<div class="col-md-7">
				<div id="popular_top" >
					<span >{{ site.slider1_txt }}:&nbsp; &nbsp;</span>
					<ul id="popular_slider" >
						{% for l in latest %}
						<li><a href="#">{{ l.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col-md-5">
				<form class="d-flex mr-auto search_form_lg" method="get" action="{% url 'search_all' %}" id="search_form_lg">
					<div class="input-group rounded d-flex">
						<input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
						<span class="input-group-text border-0" type="submit" id="search-addon">
						  <i class="fas fa-search"></i>
						</span>
					</div>
				</form>
			</div>
		</div>
	
		
		{% block main %}
	
		{% endblock %}
	

		
		
	</div>

	
	<!-- ========= FOOTER =========== -->

	<footer class="footer">
		<h2 style="font-weight: 900;"><span style="color: #3f6ad8;">E-</span>LEARN</h2>
		<div class="dynamic-footer">
			<p>{{ site.footer_abt_txt }}</p>

			<div class="social_icons">
				{% for social in about.social_set.all %}
					<a id="{% if social.social_name == 'facebook' %}fb{% elif social.social_name == 'twitter' %}tw{% elif social.social_name == 'instagram' %}ig{% elif social.social_name == 'linkedin' %}in{% elif social.social_name == 'youtube' %}yt{% endif %}"
						title="{{ social.display_title }}">
						<i class="{{ social.social_font_owesome_icon }}"></i>
					</a>
				{% endfor %}

			</div>

			<div class="row">
				<div class="col-md-3 col-sm-4">
					<a href="/about"><h6 class="footer_header">About</h6></a>

					<div class="footer_section">
						<a href=""><i class="fa-solid fa-location-dot"></i> {{ about.addresses.all.first.address }}</p></a><p>
						<p><i class="fa-solid fa-phone"></i> {{ about.phone_numbers.all.first.phone }}</p>
						<p><i class="fa-solid fa-envelope"></i> {{ about.emails.all.first.email }}</p>
					</div>
				</div>
				<div class="col-md-2 col-sm-4">
					<h6 class="footer_header">Information</h6>
					<div class="footer_section">
						<a href="/about"><p> About</p></a>
						<a href="/"><p>Blog</p></a>
						<a href="/contact"><p>Contact</p></a>
						<a href="/contact"><p>Help & Support</p></a>		
					</div>
				</div>
				<div class="col-md-2 col-sm-4">
					<h6 class="footer_header">Catergories</h6>
					<div class="footer_section">
						<a href=""><p>Sciences</p></a>
						<a href=""><p>Arts</p></a>
						<a href=""><p>Commecial</p></a>
						<a href=""><p>Bisiness</p></a>
						<a href=""><p>History</p></a>
					</div>
				</div>
				<div class="col-md-5 col-sm-12">
					<h6 class="footer_header">Latest</h6>
					<div class="footer_section">
						{% for n in latest %}
						<div class="footer_latest">
							<a><img class="footer_latest_img" alt="latest" src="{% if n.cover_img %}{{ n.cover_img.url }}{% elif n.image %}{{ n.image.url }}{% else %}{{ n.cover_image.url }}{% endif %}"></a>
							<a href=""><h6>{{ n.title }}</h6></a>
							<p class="clipped-text-one">{% if n.description %}{{ n.description }}{% else %}{{ n.overview }}{% endif %}</p>
						</div>
						{% endfor %}
						
					</div>
				</div>
				
			</div>
			<hr class="hr_footer"/>
			<div class="copyright">
				Copyright &#169; 2022. All rights reserved
			</div>

		</div>
		

	</footer>
	<!-- ========= END FOOTER =========== -->

	<!-- ========= MODALS =========== -->

	<div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content" >
					<div class="modal-header">
						<h5 class="modal-title">Login | Register</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row" id="auth_content" >
							<div class="col-lg-8" id="modal_section1" >
								<!-- Nav tabs -->
								<ul class="nav nav-tabs">
									<li class="nav-item active" id="login"><a class="nav-link active" href="#Login" data-bs-toggle="tab">Login</a></li>
									<li class="nav-item" id="register"><a class="nav-link" href="#Registration" data-bs-toggle="tab">Register</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content" >
									<div class="tab-pane active"  id="Login">
										<form role="form"  class="form-horizontal auth-form" action="" method="post">
											{% csrf_token  %}
											<div class="form-group">
												<label for="email" class="col-sm-2 control-label">
													Email*</label>
												<div class="col-sm-10">
													<input type="email" class="form-control" id="email" name="email" placeholder="Email"
													pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
													title="Please enter a valid address which includes an @ symbol"  
													oninvalid="setCustomValidity('Please enter a valid email address')"
													onkeyup="setCustomValidity('')" required />
												</div>
											</div>
											<div class="form-group">
												<label for="exampleInputPassword1" class="col-sm-2 control-label">
													Password*</label>
												<div class="col-sm-10">
													<input type="password" class="form-control" id="password" name="password" placeholder="Password"
													oninvalid="setCustomValidity('Please enter your password')" onkeyup="setCustomValidity('')" required />
												</div>
												<input type="checkbox" onclick="myFunction()"> Show Password
											</div>
											<br/>
											<div class="row">
												<div class="col-sm-2">
												</div>
												<div class="col-sm-10">
													<button type="submit" class="btn btn-primary btn-sm">
														Submit</button>
													<a   id="forgot_password">Forgot your password?</a>
												</div>
											</div>
										</form>
									</div>
									<div class="tab-pane" id="Registration" >
										<form role="form"  class="form-horizontal auth-form" action="" method="post">
											{% csrf_token  %}
											<div class="form-group">
												<label for="first_name" class="col-sm-2 control-label">
													First Name*</label>
												<div class="col-sm-10">
													<input type="text" id="id_first_name" name="first_name" class="form-control" placeholder="First Name" 
													minlength="3" oninvalid="this.setCustomValidity('Name too short, should be at least 3 characters')" onkeyup="setCustomValidity('')" required />
												</div>
											</div>
											<div class="form-group">
												<label for="last_name" class="col-sm-2 control-label">
													Last Name*</label>
												<div class="col-sm-10">
													<input type="text" id="id_last_name" name="last_name" class="form-control" placeholder="Last Name" 
													minlength="3" oninvalid="this.setCustomValidity('Name too short, should be at least 3 characters')" onkeyup="setCustomValidity('')" required />
												</div>
											</div>
											<div class="form-group">
												<label for="email" class="col-sm-2 control-label">
													Email*</label>
												<div class="col-sm-10">
													<input type="email" class="form-control" id="id_email" name="email" placeholder="Email"
													pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" 
													title="Please enter a valid address which includes an @ symbol" 
													oninvalid="setCustomValidity('Please enter a valid email address')" 
													onkeyup="setCustomValidity('')" required  />
												</div>
											</div>
											<div class="form-group">
												<label for="password" class="col-sm-2 control-label">
													Password*</label>
												<div class="col-sm-10">
													<input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password"
													oninvalid="setCustomValidity('Set a valid password')" title="Set password"
													onkeyup='check();' required/>
												</div>
											</div>
											<div class="form-group">
												<label for="password2" class="col-sm-2 control-label">
													Confirm Password*</label>
												<div class="col-sm-10">
													<input type="password" id="id_password2" name="password2" class="form-control" placeholder="Confirm Password" onkeyup='check();'
													oninvalid="setCustomValidity('Please confirm your password')" title="confirm password" required />
												</div>
											</div>
											<br/>
											<div class="row justify-content-center ">
												<div class="col-10">
													<label for="terms_and_conditions" class="custom-control-label"><div class="custom-control custom-checkbox"><input id="terms_and_conditions" name="terms_and_conditions" class="custom-control-input" type="checkbox" name="" value="true"><span> I Agree To The <a id="terms">Terms And Condition</a></span></div></label>
												</div>
											</div>
											<br/>
											<div class="row">
												<div class="col-sm-2">
												</div>
												<div class="col-sm-10">
													<button type="submit" class="btn btn-primary btn-sm">
														Save & Continue</button>
													<button type="button" id="cancel" class="btn btn-default btn-sm">
														Cancel</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div id="OR" class="d-none d-lg-block">
									OR</div>
							</div>
							<div class="col-lg-8 d-none"  id="password_reset">
								<form role="form" action="{% url 'password_reset' %}" method="post" class="form-horizontal" id="form-password-reset">
									{% csrf_token  %}
									<div class="form-group">
										<label for="email" class="col-sm-2 control-label">
											Email*</label>
										<div class="col-sm-10">
											<input type="email" class="form-control" id="user_email" name="user_email" placeholder="Email"
											pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
													title="Please enter a valid address which includes an @ symbol"  
													oninvalid="setCustomValidity('Please enter a valid email address')"
													onkeyup="setCustomValidity('')" required  />
										</div>
									</div>
									<br/>
									<div class="row">
										<div class="col-sm-2">
										</div>
										<div class="col-sm-10">
											<button type="submit" id="btn-reset-password" class="btn btn-primary btn-sm">
												Reset Password</button>
											<a href="javascript:;" id="login_page">Remember your password?</a>
										</div>
										
									</div>
								</form>
							</div>
							<div class="col-lg-4 text-center sign-with justify-content-center" >
								
								<a  href="{% provider_login_url 'google' method='aouth2' %}" class="btn btn-icon btn-block text-left " style="border-radius: 5px;" id="btn_google"><span><img src="https://img.icons8.com/color/48/000000/google-logo.png" class="img-fluid mr-1" width="25"></span> Sign up with Google</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
	</div>

	<!-- ========= END MODALS =========== -->

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
	<script src="{% static 'js/master.js' %}"></script>
	<script>
		$(document).ready(function () {
			$( "#search-addon" ).click(function() {
				$( "#search_form_lg" ).submit()
				
			});
			
		});

		$('#forgot_password').click(function(){
			$('#myModal').find('.modal-title').text('Password Reset')
			$('#modal_section1').hide()
			$('#password_reset').toggleClass('d-none')
		})

		$('#login_page').click(function() {
			$('#modal_section1').show()
			$('#password_reset').toggleClass('d-none')
			
		})

		$('#btn-reset-password').click(function() {
			$('#myModal').modal('hide')
			$('#loading-text').text("Please wait...")
			$('#ajax-loader').show()
			
			
		})

		$('.auth-form').submit(function(e){
        e.preventDefault();
		$('#myModal').modal('hide')
		$(window).scrollTop(0)
		$('#ajax-loader').show()
		$('#loading-text').text("Please wait...")
		$('body').css({ overflow: 'hidden',height: '100vh' });
		
		var form = $(e.target);


        $.ajax({
            url: '{% url "login" %}',
            type: 'post',
            data: form.serialize(),
            error: function(xhr, ajaxOptions, thrownError){ 
				alert(thrownError); 
				$('#ajax-loader').hide();
				$('#myModal').modal('show')
			},
            success: function(data){
				if (data.success === true) {
					current_location = window.location.pathname
					txt = current_location.split('/')
					$('#loading-text').text("Logging in...")
					$('#ajax-loader').delay(2000).fadeOut()

					setTimeout(function(){
						$('#ajax-loader').hide();
						$('body').css({ overflow: 'auto' });
					},2000); 
					if (jQuery.inArray('login', txt) !== -1) {
						window.location = '{% url "home" %}';
					}
					else {
						location.reload();
					}
					
					
					
					
				} 
				else {
					alert(`${data.message}`)
					$('#myModal').modal('show')
					$('#ajax-loader').hide()
					$('body').css({ overflow: 'auto' });
				}
				
			}
        })
 	})

	 	$('.dropdown').hover(function() { $(this).addClass('show'); $(this).find('.dropdown-menu').addClass('show');}, function() {$(this).removeClass('show'); $(this).find('.dropdown-menu').removeClass('show');});
		

		 $('#subscribe_button').click(function() {
			$('#loading-text').text("Please wait...")
			$('#ajax-loader').show()
			
			
		})

	</script>

	{% block script%}
	{% endblock %}
</body>
</html>