{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	

	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

	{% block head %}

	{% endblock %}
	
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand d-lg-none" href="#">
				<img src="{% static 'images/edu.jpg' %}" alt="" width="25" height="20" class="d-inline-block align-text-center">
				Major
			</a>

			{% if not user.is_authenticated %}
			<a class="d-flex ms-auto login d-none d-lg-block" style="color: white;"  href="{% url 'login' %}">Login | SignUp</a>
			{% endif %}
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			  {% if not user.is_authenticated %}
			  <li class="nav-item d-lg-none">
				<a class="nav-link" href="{% url 'login' %}">Login | SignUp</a>
			  </li>
			  {% endif %}
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="">Dashboard</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="">Notes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="">Quizzes</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Bookmarks</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Discussions
				</a>
				<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">		
					<li><a class="dropdown-item" href="">Topics</a></li>
					<li><a class="dropdown-item" href="#">Your Recents</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">People</a></li>
					<li><a class="dropdown-item" href="#">Groups</a></li>
				 
				</ul>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{% url 'user_profile' %}">Profile</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about">About Us</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/contact">Contact</a>
			  </li>
			  <li class="nav-item">
				{% if user.is_authenticated %}
				<a class="nav-link" href="">Logout</a>
				{% endif %}
			  </li>
			</ul>
		  </div>

		</div>
	</nav>
	<div class="card " id="logo_lg" style="margin-top: 0px; margin-bottom: 0px; border-radius: 0px;">
		<div class="card-body" style="display: flex;">
			<div style="margin: auto;" class="d-none d-lg-block">
				<a class="navbar-brand" href="#" style="color: black;">
					<img src="{% static 'images/edu.jpg' %}" alt="" width="25" height="20" class="d-inline-block align-text-center">
					<strong>Major </strong> | Project
				</a>
				
			</div>
			<div id="banner">
				<p id="banner_txt">{{ site.banner_txt }}</p>
			</div>
		</div>
	</div>
	<div class="row" id="slider_search_container" style="padding-top: 5px; padding-bottom: 2px; background-color: white;">
		<div class="col-md-7">
			<div id="popular_top" >
				<span >{{ site.slider1_txt }}:&nbsp; &nbsp;</span>
				<ul id="popular_slider" >
					<li>Popular item 1</li>
					<li>Items searched</li>
					<li>Being Searched item 3</li>
					<li>Searched item 4</li>
				</ul>
			</div>
		</div>
		<div class="col-md-5">
			<form class="d-flex mr-auto search_form_lg">
				<div class="input-group rounded d-flex">
					<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
					<span class="input-group-text border-0" id="search-addon">
					  <i class="fas fa-search"></i>
					</span>
				</div>
			</form>
		</div>
	</div>

	

	{% block main %}

	{% endblock %}


	<!-- ========= FOOTER =========== -->

	<footer class="footer">
		<h2>Major</h2>
		<p>{{ site.footer_abt_txt }}</p>

		<div class="social_icons">
			{% for social in about.social_set.all %}
				<a id="{% if social.social_name == 'facebook' %}fb{% elif social.social_name == 'twitter' %}tw{% elif social.social_name == 'instagram' %}ig{% elif social.social_name == 'linkedin' %}in{% elif social.social_name == 'youtube' %}yt{% endif %}"
					title="{{ social.display_title }}">
					<i class="{{ social.social_font_owesome_icon }}"></i>
				</a>
			{% endfor %}

		</div>

		<div class="row">
			<div class="col-md-3 col-sm-4">
				<a href="/about"><h6 class="footer_header">About</h6></a>

				<div class="footer_section">
					<a href=""><i class="fa-solid fa-location-dot"></i> {{ about.addresses.all.first.address }}</p></a><p>
					<p><i class="fa-solid fa-phone"></i> {{ about.phone_numbers.all.first.phone }}</p>
					<p><i class="fa-solid fa-envelope"></i> {{ about.emails.all.first.email }}</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<h6 class="footer_header">Information</h6>
				<div class="footer_section">
					<a href="/about"><p> About</p></a>
					<a href="/"><p>Blog</p></a>
					<a href="/contact"><p>Contact</p></a>
					<a href="/contact"><p>Help & Support</p></a>		
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<h6 class="footer_header">Catergories</h6>
				<div class="footer_section">
					<a href=""><p>Sciences</p></a>
					<a href=""><p>Arts</p></a>
					<a href=""><p>Commecial</p></a>
					<a href=""><p>Bisiness</p></a>
					<a href=""><p>History</p></a>
				</div>
			</div>
			<div class="col-md-5 col-sm-12">
				<h6 class="footer_header">Latest</h6>
				<div class="footer_section">
					<div class="footer_latest">
						<a><img class="footer_latest_img" alt="latest" src="{% static 'images/c4.jpg' %}"></a>
						<a href=""><h6>Heading</h6></a>
						<p>Some latest upload content. Some latest upload content</p>
					</div>
					<div class="footer_latest">
						<a href=""><img class="footer_latest_img" alt="latest" src="{% static 'images/c2.jpg' %}"></a>
						<a href=""><h6>Heading</h6></a>
						<p>Other latest upload</p>
					</div>
					<div class="footer_latest">
						<a href=""><img class="footer_latest_img" alt="latest" src="{% static 'images/c3.jpg' %}"></a>
						<a href=""><h6>Heading</h6></a>
						<p>Some latest upload. Some latest upload content</p>
					</div>
					
				</div>
			</div>
			
		</div>
		<hr class="hr_footer"/>
		<div class="copyright">
			Copyright &#169; 2022. All rights reserved
		</div>

	</footer>
	<!-- ========= END FOOTER =========== -->



	<!-- ========= MODALS =========== -->

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content" >
					<div class="modal-header">
						<h5 class="modal-title">Login | Register</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row" id="auth_content" >
							<div class="col-lg-8" id="modal_section1" >
								<!-- Nav tabs -->
								<ul class="nav nav-tabs">
									<li class="nav-item active" id="login"><a class="nav-link active" href="#Login" data-bs-toggle="tab">Login</a></li>
									<li class="nav-item" id="register"><a class="nav-link" href="#Registration" data-bs-toggle="tab">Register</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content" >
									<div class="tab-pane active"  id="Login">
										<form role="form"  class="form-horizontal" action="" method="post">
											{% csrf_token  %}
											<div class="form-group">
												<label for="email" class="col-sm-2 control-label">
													Email*</label>
												<div class="col-sm-10">
													<input type="email" class="form-control" id="email" name="email" placeholder="Email"
													pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
													title="Please enter a valid address which includes an @ symbol"  
													oninvalid="setCustomValidity('Please enter a valid email address')"
													onkeyup="setCustomValidity('')" required />
												</div>
											</div>
											<div class="form-group">
												<label for="exampleInputPassword1" class="col-sm-2 control-label">
													Password*</label>
												<div class="col-sm-10">
													<input type="password" class="form-control" id="password" name="password" placeholder="Password"
													oninvalid="setCustomValidity('Please enter your password')" onkeyup="setCustomValidity('')" required />
												</div>
											</div>
											<br/>
											<div class="row">
												<div class="col-sm-2">
												</div>
												<div class="col-sm-10">
													<button type="submit" class="btn btn-primary btn-sm">
														Submit</button>
													<a  href="#password_reset" id="forgot_password">Forgot your password?</a>
												</div>
											</div>
										</form>
									</div>
									<div class="tab-pane" id="Registration" >
										<form role="form"  class="form-horizontal" action="" method="post">
											{% csrf_token  %}
											<div class="form-group">
												<label for="first_name" class="col-sm-2 control-label">
													First Name*</label>
												<div class="col-sm-10">
													<input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" 
													minlength="3" oninvalid="this.setCustomValidity('Name too short, should be at least 3 characters')" onkeyup="setCustomValidity('')" required />
												</div>
											</div>
											<div class="form-group">
												<label for="last_name" class="col-sm-2 control-label">
													Last Name*</label>
												<div class="col-sm-10">
													<input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name" 
													minlength="3" oninvalid="this.setCustomValidity('Name too short, should be at least 3 characters')" onkeyup="setCustomValidity('')" required />
												</div>
											</div>
											<div class="form-group">
												<label for="email" class="col-sm-2 control-label">
													Email*</label>
												<div class="col-sm-10">
													<input type="email" class="form-control" id="email1" name="email1" placeholder="Email"
													pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" 
													title="Please enter a valid address which includes an @ symbol" 
													oninvalid="setCustomValidity('Please enter a valid email address')" 
													onkeyup="setCustomValidity('')" required  />
												</div>
											</div>
											<div class="form-group">
												<label for="password" class="col-sm-2 control-label">
													Password*</label>
												<div class="col-sm-10">
													<input type="password" class="form-control" id="password1" name="password1" placeholder="Password"
													oninvalid="setCustomValidity('Set a valid password')" title="Set password"
													onkeyup='check();' required/>
												</div>
											</div>
											<div class="form-group">
												<label for="password2" class="col-sm-2 control-label">
													Confirm Password*</label>
												<div class="col-sm-10">
													<input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" onkeyup='check();'
													oninvalid="setCustomValidity('Please confirm your password')" title="confirm password" required />
												</div>
											</div>
											<br/>
											<div class="row justify-content-center ">
												<div class="col-10">
													<label for="terms_and_conditions" class="custom-control-label"><div class="custom-control custom-checkbox"><input id="terms_and_conditions" name="terms_and_conditions" class="custom-control-input" type="checkbox" name="" value="true"><span> I Agree To The <a id="terms">Terms And Condition</a></span></div></label>
												</div>
											</div>
											<br/>
											<div class="row">
												<div class="col-sm-2">
												</div>
												<div class="col-sm-10">
													<button type="submit" class="btn btn-primary btn-sm">
														Save & Continue</button>
													<button type="button" id="cancel" class="btn btn-default btn-sm">
														Cancel</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div id="OR" class="d-none d-lg-block">
									OR</div>
							</div>
							<div class="col-lg-4 text-center sign-with justify-content-center" >
								<button type="button" class="btn btn-icon btn-block text-left " id="btn_google"><span><img src="https://img.icons8.com/color/48/000000/google-logo.png" class="img-fluid mr-1" width="25"></span> Sign up with Google</button>
							</div>
						</div>
						<div class="hide"  id="password_reset">
							<form role="form"  class="form-horizontal">
							<div class="form-group">
								<label for="email" class="col-sm-2 control-label">
									Email*</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="email2" placeholder="Email" />
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary btn-sm">
										Reset Password</button>
									<a href="javascript:;" id="login_page">Remember your password?</a>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>

	<!-- ========= END MODALS =========== -->

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<script src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
	<script src="{% static 'js/master.js' %}"></script>

	{% block script%}
	{% endblock %}
</body>
</html>