{% extends 'front/master.html' %}
{% load static %}
{% load index %}

{% block head %}
<title>
	Password Reset Complete
</title>

<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/users/passwords.css' %}">

{% endblock %}

{% block main %}
	<div class="content" id="container">
		<div class="page-heading-container">
			<h1 class="page-heading">
				Password Reset Complete
			</h1>	
		</div>
		<br>
		<div class="contents-container">
			
			<p>Your password has been set. You may go ahead and log in now </p> &nbsp;&nbsp;&nbsp;
			<button  class="btn btn-primary" href="" data-bs-toggle="modal" data-bs-target="#myModal">Login</button>
		</div>
		
	</div>
    
{%	endblock	%}
{% block script%}
	
	
{% endblock %}