
{% extends 'front/master.html' %}
{% load static %}
{% load index %}

{% block head %}
<title>
	Password Reset
</title>

<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/users/passwords.css' %}">
{% endblock %}

{% block main %}
	<div class="content" id="container">
		<div class="page-heading-container">
			<h1 class="page-heading">
				Password reset email sent
			</h1>	
		</div>
		<br>
		<div class="contents-container">
			<p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
		</div>
		
	</div>
    
{%	endblock	%}
{% block script%}
	
	
{% endblock %}