{% extends 'front/master.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>
	Password Reset
</title>

<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/users/passwords.css' %}">

{% endblock %}

{% block main %}
	<div class="content" id="container">
		<div class="page-heading-container">
			<h1 class="page-heading">
				Confirm Password Reset
			</h1>	
		</div>
		<br>
		<div class="contents-container">
			<p>Please enter your new password</p>&nbsp;&nbsp;
			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }} 
				   <br>                
				<button class="btn btn-primary" type="submit">Reset password</button>
			</form>
		</div>
		
	</div>
    
{%	endblock	%}
{% block script%}
	
	
{% endblock %}