{% extends 'front/master.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>Profile</title>
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/courses/manage/form.css' %}">
<link rel="stylesheet" href="{% static 'css/users/user_profile.css' %}">
{% endblock %}

{% block main %}
<div class="content">
	<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '/';">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="/">Home</a></li>
		  <li class="breadcrumb-item active" aria-current="page">Profile</li>
		</ol>
	</nav>
	<div class="page-heading-container">
		<h1 class="page_hearding"> Profile</h1>
	</div>
	<div class="contents-container" >
			
			<form class="form-horizontal user_form" action="{% url 'user_profile' object.user.pk %}" method="post" enctype="multipart/form-data" >
				<h2 class="page-sub-heading" >User Profile Details</h2>
				<div class="section_1" >
					<p class="email_txt"> {{ object.user.email }} <i title="Change your email" class="fa-solid fa-pencil" id="edit_email" data-bs-toggle="modal" data-bs-target="#emailModal"></i></p>
					<p class="password_txt"> Password ********  <i title="Change Password" class="fa-solid fa-pencil" id="edit_password" data-bs-toggle="modal" data-bs-target="#passwordModal"></i></p>
				</div>
				<img class=" mx-auto d-block profile_img" alt="profile image" src="{{ object.image.url }}" id="profile_img"  >	
				{{form|crispy }}
				{% csrf_token %}
				<p><input type="submit" class="button btn" value="Save profile"></p>	
			</form>
		
	</div>
</div>

	


	<!--================ MODALS ===================-->

	<div class="modal fade" id="profileImageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content" >
				<div class="modal-header">
					<h5 class="modal-title">Update Your Profile Image</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class=""  id="user_name">
						<form role="form"  class="form-horizontal">
							<img class=" mx-auto d-block profile_img" alt="profile image" src="{{ user.profile.image.url }}" id="profile_img" >
							<br>
							<div class="form-group">
								<div class="row">
									<label for="select_profile_image" class="col-md-3 control-label">
										Select Image: </label>
									<div class="col-md-9">
										<input type="file" class="form-control" id="select_profile_image" name="select_profile_image" accept="image/*"
										onchange="document.getElementById('profile_img').src = window.URL.createObjectURL(this.files[0])"/>
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-primary btn-sm">
										Save Image</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content" >
					<div class="modal-header">
						<h5 class="modal-title">Set Profile Username</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class=""  id="user_name">
							<form role="form"  class="form-horizontal">
							<div class="form-group">
								<div class="row">
									<label for="username" class="col-md-3 control-label">
										Username* </label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="username" placeholder="enter your new username" />
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-primary btn-sm">
										Set Username</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>

	<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content" >
				<div class="modal-header">
					<h5 class="modal-title">Change Your Email Address</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class=""  id="user_name">
						<form role="form"  class="form-horizontal">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-md-3">Password*:</label>
									<div class="col-md-9">
										<input class="form-control" type="password" name="password" id="password" autocomplete="new-password" placeholder="enter your current password"
										
										oninvalid="setCustomValidity('Password must be min 8 characters long and contain at least: one uppercase, one lowercase letter, one number and one special symbol')" onkeyup="setCustomValidity('')" required>
									</div>
								</div>	
							</div>
							<br/>
							<div class="form-group">
								<div class="row">
									<label for="email" class="col-md-3 control-label">
										New Email*</label>
									<div class="col-md-9">
										<input type="email" class="form-control" id="email2" placeholder="enter your new email address" />
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-primary btn-sm">
										Change Email</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content" >
					<div class="modal-header">
						<h5 class="modal-title">Change Your Password</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class=""  id="user_name">
							<form role="form"  class="form-horizontal">
								<div class="form-group">
									<div class="row">
										<label class="control-label col-md-3">Old Password*:</label>
										<div class="col-md-9">
											<input class="form-control" type="password" name="password" id="id_password" placeholder="enter current password"
											autocomplete = "new-password"
											oninvalid="setCustomValidity('Password must be min 8 characters long and contain at least: one uppercase, one lowercase letter, one number and one special symbol')" onkeyup="setCustomValidity('')" required>
										</div>
									</div>	
								</div>
								<br/>
								<div class="form-group">
									<div class="row">
										<label class="control-label col-md-3">New password*:</label>
										<div class="col-md-9">
											<input class="form-control" type="password" name="password1" id="id_password1" placeholder="enter new password" onkeyup='check();' autocomplete = "new-password" required>
											<span id='message'></span>
										</div>
									</div>
									
								</div>
								<br/>
								<div class="form-group">
									<div class="row">
										<label class="control-label col-md-3">Confirm password*:</label>
										<div class="col-md-9">
											<input class="form-control" type="password" name="password2" id="id_password2" placeholder="confirm new password" onkeyup='check();' autocomplete = "new-password" required>
											<span id='message'></span>
										</div>
									</div>
									
								</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-primary btn-sm">
										Set Password</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>

{% endblock%}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script>
	$("input[type=text]").change(function(){
		$('#profile_img').attr('src', window.URL.createObjectURL(this.files[0]))
		console.log('before')
		console.log(window.URL.createObjectURL(this.files[0]))
		console.log('done')
		alert("The text has been changed.");
	});
</script>
<script>
	$(function(){
  $('input[type=file]').change(function(){
    var input = this;
    var url = $(this).val();
    var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
    if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) 
     {
        var reader = new FileReader();

        reader.onload = function (e) {
           $('#profile_img').attr('src', e.target.result);
        }
       reader.readAsDataURL(input.files[0]);
    }
    else
    {
      $('#profile_img').attr('src', '{% static "images/c1.jpg" %}');
    }
  });

});
</script>
{% endblock %}
