{% extends 'front/master.html' %}
{% load static %}

{% block head %}
<title>Profile</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
	<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '/';">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="/">Home</a></li>
		  <li class="breadcrumb-item active" aria-current="page">Profile</li>
		</ol>
	  </nav>

	<div class="content">
		<h2 class="page_hearding"> Profile</h2>
		<div class="row profile_container">
			<div class="col-sm-5 col-lg-4" >
				<a data-bs-toggle="modal" data-bs-target="#profileImageModal"><img class=" mx-auto d-block profile_img" alt="profile image" src="{{ user.profile.image.url }}" ></a>
				<div class="section_1" >
					<p class="username_txt">{{ user.profile.nickname }} <i title="Edit Username" class="fa-solid fa-pencil" id="edit_username" data-bs-toggle="modal" data-bs-target="#usernameModal"></i></p>
					<p class="email_txt"> {{ user.email }} <i title="Change your email" class="fa-solid fa-pencil" id="edit_email" data-bs-toggle="modal" data-bs-target="#emailModal"></i></p>
					<p class="password_txt"> Password ********  <i title="Change Password" class="fa-solid fa-pencil" id="edit_password" data-bs-toggle="modal" data-bs-target="#passwordModal"></i></p>
				</div>
				
			</div>
			<div class="col-sm-7 col-lg-8 justify-content-center" >
				<div class="user_form">
					<form class="form-horizontal contact_form" action="" method="post">
						<div class="form-group">
							<div class="row" >
								<label class="control-label col-md-3">Name: </label>
								<div class="col-md-9">
									<input class="form-control contact_input" type="text" name="first_name" placeholder="First Name*" 
									oninvalid="this.setCustomValidity('Please enter your name')" onkeyup="setCustomValidity('')"
									value="{% if user.first_name == None %} {% else %}{{ user.first_name }}{% endif %}" required>
								</div>
							</div>						
						</div>
						<div class="form-group">
							<div class="row" >
								<label class="control-label col-md-3">Surname: </label>
								<div class="col-md-9">
									<input class="form-control contact_input" type="text" name="last_name" placeholder="Last Name*" 
									oninvalid="this.setCustomValidity('Please enter your name')" onkeyup="setCustomValidity('')"
									value="{% if user.last_name == None %} {% else %}{{ user.last_name }}{% endif %}" required>
								</div>
							</div>
							
						</div>
	
						<div class="form-group">
							<div class="row">
								<label class="control-label col-md-3">Mobile Number: </label>
								<div class="col-md-9">
									<input class="form-control contact_input" type="text" name="mobile" placeholder="Mobile number*" 
								oninvalid="this.setCustomValidity('Please enter valid Mobile number')" onkeyup="setCustomValidity('')" 
								value="{% if user.profile.phone == None %} {% else %}{{ user.profile.phone }}{% endif %}" required>
								</div>
								
							</div>
						</div>
	
						<div class="form-group">
							<div class="row">
								<label class="control-label col-md-3">College Name: </label>
								<div class="col-md-9">
									<input class="form-control contact_input" type="text" name="school" placeholder="College/Institute" 
								oninvalid="this.setCustomValidity('Please enter your college name')" onkeyup="setCustomValidity('')"
								value="{% if user.profile.school == None %} {% else %}{{ user.profile.school }}{% endif %}" required>
								</div>
								
							</div>
							
						</div>
	
						<div class="form-group">
							<div class="row">
								<label class="control-label col-md-3">Level: </label>
								<div class="col-md-9">
									<select name="levels" id="levels">
										<option value="">Select Level</option>
										{% for level in school_levels %}
											<option value="{{ level.title }}"
											{% if level == user.profile.school_level %}
												selected="selected"
											{% endif %}>{{ level }}</option>
										{% endfor %}
									  </select>
								</div>
								
							</div>
						</div>
						
	
						<div class="form-group" id="specialization">
							<div class="row">
								<div class="col-md-3">
									<label class="control-label ">Specialization: </label>
								</div>
								
								<div class="col-md-9">
									<select name="levels" id="levels">
										<option value="">Select specialization</option>
										{% for specialization in specializations %}
											<option value="{{ specialization }}" 
											{% if specialization == user.profile.program %}
												selected="selected"
											{% endif %}>
											{{ specialization }}</option>
										{% endfor %}
									  </select>
								</div>
								
							</div>
						</div>
	
						<div class="form-group" id="program">
							<div class="row">
								<label class="control-label col-md-3">Program: </label>
								<div class="col-md-9">
									<input class="form-control contact_input" type="text" name="program" placeholder="Program" 
								oninvalid="this.setCustomValidity('Please enter your program')" onkeyup="setCustomValidity('')"
								value="{{ user.profile.program }}" required>
								</div>
								
							</div>
							
						</div>
	
						
						<div class="form-group">
							<div class="row">
								<label class="control-label col-md-3">Gender: </label>
								<div class="col-md-9">
									{% for gender in genders %}
									<span 
									{% if gender == Female %} class="spf" {% endif %}>
										<input type="radio" name="gender" value="{{ gender }}"
										{% if gender == user.profile.gender %} checked {% endif %}>
										<label>{{ gender }}</label>
									</span>
									{% endfor %}
									
									
								</div>
								
							</div>
							
						</div>
						<br/>
					
						<div class="form-group">
							<input class="button contact_btn" type="submit" value="Save Profile" >
						</div>
						
					</form>
				</div>
				

			</div>
		</div>
		

	</div>


	<!--================ MODALS ===================-->

	<div class="modal fade" id="profileImageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content" >
				<div class="modal-header">
					<h5 class="modal-title">Update Your Profile Image</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class=""  id="user_name">
						<form role="form"  class="form-horizontal">
							<img class=" mx-auto d-block profile_img" alt="profile image" src="{{ user.profile.image.url }}" id="profile_img" >
							<br>
							<div class="form-group">
								<div class="row">
									<label for="select_profile_image" class="col-md-3 control-label">
										Select Image: </label>
									<div class="col-md-9">
										<input type="file" class="form-control" id="select_profile_image" name="select_profile_image" accept="image/*"
										onchange="document.getElementById('profile_img').src = window.URL.createObjectURL(this.files[0])"/>
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-primary btn-sm">
										Save Image</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="usernameModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content" >
					<div class="modal-header">
						<h5 class="modal-title">Set Profile Username</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class=""  id="user_name">
							<form role="form"  class="form-horizontal">
							<div class="form-group">
								<div class="row">
									<label for="username" class="col-md-3 control-label">
										Username* </label>
									<div class="col-md-9">
										<input type="text" class="form-control" id="username" placeholder="enter your new username" />
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-primary btn-sm">
										Set Username</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>

	<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content" >
				<div class="modal-header">
					<h5 class="modal-title">Change Your Email Address</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class=""  id="user_name">
						<form role="form"  class="form-horizontal">
							<div class="form-group">
								<div class="row">
									<label class="control-label col-md-3">Password*:</label>
									<div class="col-md-9">
										<input class="form-control" type="password" name="password" id="password" autocomplete="new-password" placeholder="enter your current password"
										
										oninvalid="setCustomValidity('Password must be min 8 characters long and contain at least: one uppercase, one lowercase letter, one number and one special symbol')" onkeyup="setCustomValidity('')" required>
									</div>
								</div>	
							</div>
							<br/>
							<div class="form-group">
								<div class="row">
									<label for="email" class="col-md-3 control-label">
										New Email*</label>
									<div class="col-md-9">
										<input type="email" class="form-control" id="email2" placeholder="enter your new email address" />
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-primary btn-sm">
										Change Email</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg modal-dialog-centered">
				<div class="modal-content" >
					<div class="modal-header">
						<h5 class="modal-title">Change Your Password</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class=""  id="user_name">
							<form role="form"  class="form-horizontal">
								<div class="form-group">
									<div class="row">
										<label class="control-label col-md-3">Old Password*:</label>
										<div class="col-md-9">
											<input class="form-control" type="password" name="password" id="id_password" placeholder="enter current password"
											autocomplete = "new-password"
											oninvalid="setCustomValidity('Password must be min 8 characters long and contain at least: one uppercase, one lowercase letter, one number and one special symbol')" onkeyup="setCustomValidity('')" required>
										</div>
									</div>	
								</div>
								<br/>
								<div class="form-group">
									<div class="row">
										<label class="control-label col-md-3">New password*:</label>
										<div class="col-md-9">
											<input class="form-control" type="password" name="password1" id="id_password1" placeholder="enter new password" onkeyup='check();' autocomplete = "new-password" required>
											<span id='message'></span>
										</div>
									</div>
									
								</div>
								<br/>
								<div class="form-group">
									<div class="row">
										<label class="control-label col-md-3">Confirm password*:</label>
										<div class="col-md-9">
											<input class="form-control" type="password" name="password2" id="id_password2" placeholder="confirm new password" onkeyup='check();' autocomplete = "new-password" required>
											<span id='message'></span>
										</div>
									</div>
									
								</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="button" class="btn btn-primary btn-sm">
										Set Password</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>

{% endblock%}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
