{% extends 'front/master.html' %}
{% load static %}
{% load mathfilters %}

{% block head %}
<title>{{ note.title }}</title>
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/notes/note_detail.css' %}">
{% endblock %}

{% block main %}
	<div class="content">
		<nav id="breadcrumb" aria-label="breadcrumb" >
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="{% url 'home' %}">home</a></li>
			  <li class="breadcrumb-item"><a href="{% url 'note_list' %}">notes</a></li>
			  <li class="breadcrumb-item active" aria-current="page">{{ note.title|lower }}</li>
			</ol>
		</nav>
		<div class="page-heading-container">
			<h1 class="page-heading">
				<i class="fa-solid fa-clipboard"></i> {{ note.title.title }}
			</h1>
		</div>
		<div class="jumbotron">
			<div	class="details-block ">
				<div class="row" >
			
					<div class="col-sm-6" style="padding: 0px;">
						<img src="{{ note.cover_img.url }}" style="height: 100px; width: 150px;">
					</div>
					<div class="col-sm-6">
						
						<p style="text-align: end; color: orange;" title="note rating">{{ note.get_average_rating|floatformat:2 }}
							{% with ''|center:note.get_average_rating as range %}
								{% for i in range %}
									<i class="fa-solid fa-star" style="color: orange;"></i>
								{% endfor %}
							{% endwith %}
							{% with 5|sub:note.get_average_rating as x %}
								{% with ''|center:x as range %}
									{% for i in range %}
										<i class="fa-regular fa-star" style="color: orange;"></i>
									{% endfor %}
								{% endwith %}
							{% endwith %}
						</p>
						<p style="text-align: end; font-style: italic; opacity: 75%;">Uploaded:  {{ note.created }} 
							<i id="save-note" style="padding: 5px;" title="Save note"
							class="{% if saved %}fa-solid{% else %}fa-regular{% endif%} fa-bookmark"></i>
							<i id="share" style="padding: 5px;" title="share" class="fa-solid fa-share-nodes"></i>
						</p>
						
					</div>
				</div>
				<div class="p-inline-container" >
					<div>
						<p style="opacity: 75%; font-style: italic;" class="p-inline" title="note school level "><a class="details-block-subject" href="{% url 'note_list_level' school_level=note.school_level.slug order='-created' %}">{% if note.school_level %}{{ note.school_level }}{% endif %}</a></p>&nbsp;
						<strong>&nbsp;&nbsp;<p class="p-inline" title="note subject"><a class="details-block-subject" href="{% url 'note_list_subject' subject=note.subject.slug order='-created' %}">{% if note.subject %}{{ note.subject }}{% endif %}</a></p></strong>
					</div>
					&nbsp;<p class="p-inline uploader"> <span style="opacity: 75%; font-style: italic;">Uploded by: </span>{% if note.owner != None or note.owner != "" %}{{	note.owner.profile.profile_name	}} 
						{% else %}Uknown {% endif %}</p>
				</div>
				<h2 class="details-block-heading">Note overview</h2>

				<p>{{ note.description|linebreaks }}</p>

				<div class="row" >
					<div class="col-sm-12 col-md-8 contact_container" style="padding: 0;">
						<p class="abt_txt">{{ note.body|linebreaks }}</p>
						<br>
						<div>
							<div id="rating_success" class="alert alert-success d-flex align-items-center alert-dismissible fade show" style="margin-top: 10px;" role="alert">
								<i style="margin-right: 10px; font-size: 60px;" class="fa-regular fa-circle-check"></i>
								<div>
									<h4 class="alert-heading">Review saved!</h4>
									<p>Thank you for you feedback</p>
								</div>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
						
						{% if not user_review %}
						<button data-bs-toggle="modal" data-bs-target="#rateNoteModal" id="rate_note" >Rate note</button>
						{% endif %}
						
						{% if note.file %}
						<div class="btn_container" >
							<p id="downloads">{{ note.downloads }}{% if note.downloads == '1' %} Download {% else %} Downloads {% endif %}<i class="fa-solid fa-download"></i></p>
							<a id="download" href="{{ note.file.url }}" download="{{ note.file.url }}" class="button dark">
								<ul>
									<li>&#68;ownload pdf</li>
									<li>&#68;ownloading pdf</li>
									<li>Open pdf File</li>
								</ul>
								<div>
									<svg viewBox="0 0 24 24"></svg>
								</div>
							</a>
						</div>
						{% endif %}
					
					</div>
					<div class="col-sm-12 col-md-4" >
						<div class="card">
							<div class="card-body" style="display: flex;">
								<div style="margin-right: 5px;">Comments </div>
							</div>
						</div>

						{% if user_review %}
							<div class="latest_sub_item" style="display: flex; flex-direction: row;">
								<img class="comment_img" alt="latest" src="{% static 'images/default_profile.png' %}">
								<div>
									<div class="comment_top"  ><h6 class="comment_name">You </h6><p class="comment_rate">
										{% with ''|center:user_review.rate_value as range %}
											{% for i in range %}
												<i class="fa-solid fa-star" style="color: orange;"></i>
											{% endfor %}
										{% endwith %}
										{% with 5|sub:user_review.rate_value as x %}
										{% with ''|center:x as range %}
											{% for i in range %}
												<i class="fa-regular fa-star" style="color: orange;"></i>
											{% endfor %}
										{% endwith %}
										{% endwith %}
										
										</i></p></div>
									
									<p class="comment_txt">{{ user_review.comment }}</p>
									<p class="comment_date">{{ user_review.date|timesince }} ago</p>
								</div>					
							</div>
						{% endif %}

						{% for review in note.reviews.all %}
							{% if review != user_review %}
								<div class="latest_sub_item" style="display: flex; flex-direction: row;">
									<img class="comment_img" alt="latest" src="{% static 'images/default_profile.png' %}">
									<div>
										<div class="comment_top"  ><h6 class="comment_name">{% if review.user %}{{ review.user.profile.profile_name.title }}{% else %}Anonymous {% endif %}</h6><p class="comment_rate">
											{% with ''|center:review.rate_value as range %}
												{% for i in range %}
													<i class="fa-solid fa-star" style="color: orange;"></i>
												{% endfor %}
											{% endwith %}
											{% with 5|sub:review.rate_value as x %}
											{% with ''|center:x as range %}
												{% for i in range %}
													<i class="fa-regular fa-star" style="color: orange;"></i>
												{% endfor %}
											{% endwith %}
											{% endwith %}
											
											</i></p></div>
										
										<p class="comment_txt">{{ review.comment }}</p>
										<p class="comment_date">{{ review.date|timesince }} ago</p>
									</div>
									
								</div>
							{% endif %}
						{% empty %}
								<p id="no_comments">No reviews yet,  
									<strong>
										
										be the first to leave a review!
										
									</strong> </p>
						{% endfor %}

						
						{%	if	request.user.is_authenticated %}
							{% if not user_review %}
							<a data-bs-toggle="modal" data-bs-target="#rateNoteModal" id="leave_comment" ><p style="margin: 0  0 20px 20px;">Add Review</p></a>					
							{% endif %}
						{% else %}
						<a class="" class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#myModal"><p style="margin: 0  0 20px 20px;">Login to add review</p></a>		
						{% endif %}

						<div class="card">
							<div class="card-body" style="display: flex;">
								<div style="margin-right: 5px;">Latest Uploads </div>
							</div>
						</div>
						
						<div class="latest_sub">
							{% for item in latest %}
							<div class="latest_sub_item">
								<a href="{% url 'note_detail' pk=item.pk %}"><img class="latest_img_sm" alt="latest" src="{{ item.cover_img.url }}"></a>
								<a href="{% url 'note_detail' pk=item.pk %}"><h5>{{ item.title.title}}</h5></a>
								<p>{{ item.description }}</p>
							</div>
							<br>
							{% endfor %}
							
						</div>
			
					</div>
				</div>

	</div>

	<!--============ MODALS ===============-->
	
	<div class="modal fade" id="rateNoteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content" >
				<div class="modal-header">
					<h5 class="modal-title">Rate And Comment</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class=""  id="user_name">
						<form role="form" id="form_rating" class="form-horizontal">
							{% csrf_token %}
							<div class="form-group">
								<div class="row">
									<label for="input-1" class="col-sm-2 control-label">Rate Note</label>
									<div class="col-sm-10">
										<input id="input-1" name="input-1" class=" " data-min="0" data-max="5" data-step="1.0">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label for="comment" class="col-sm-2 control-label">
										Comment: </label>
									<div class="col-sm-10">
										<textarea name="comment" id="comment" cols="0" rows="3" class="form-control contact_input" placeholder="Write your comment"
										value="{{ field.value|default_if_none:'' }}"></textarea>
										
									</div>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-sm-2">
								</div>
								<div class="col-sm-10">
									<button type="submit"  class="btn btn-primary btn-sm">
										Submit</button>
									<button type="button" id="cancel" class="btn btn-default btn-sm" data-bs-dismiss="modal">
										Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock%}

{% block script %}
	<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>
	<!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme JS files as mentioned below (and change the theme property of the plugin) -->
	<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>

	<!-- optionally if you need translation for your language then include locale file as mentioned below (replace LANG.js with your own locale file) -->
	<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/LANG.js"></script>
	<script src="{% static 'js/notes/note.js' %}" ></script>
	<script>
		//$("#input-1").rating();
		$.ajaxSetup({
		data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});
		(function(){
		setTimeout(initRatingStar, 1000);
		})();

		function initRatingStar() {
		var $element1 = $('#input-1');
		$element1.rating({
		step: 1.0,
		starCaptions: { 0.5: 'Very Very Poor', 1: 'Very Poor', 1.5: 'Poor', 2: 'Poor',2.5: 'Ok', 3: 'Ok', 3.5: 'Ok', 4: 'Good', 4.5: 'Very Good', 5: 'Excellent'},
		starCaptionClasses: { 0.5: 'caption-badge caption-danger', 1: 'caption-badge caption-danger', 1.5: 'caption-badge caption-warningg', 2: 'caption-badge caption-warning',2.5: 'caption-badge caption-info', 3: 'caption-badge caption-info', 3.5: 'caption-badge caption-primary', 4: 'caption-badge caption-primary',4.5: 'caption-badge caption-success', 5: 'caption-badge caption-success'}
		});
		};



		$('#form_rating').submit(function(e){
		e.preventDefault();
		var form = $(e.target)
	
		$.ajax({
			url: "{% url 'note_detail' pk=note.pk %}",
			type: 'post',
			data: form.serialize(),
			error: function(xhr, ajaxOptions, thrownError){ alert(thrownError); },
			success: function(data){
				if (data.success === true) {
					$('#rateNoteModal').modal('toggle');
					$('#rating_success').toggleClass('shown')
					window.setTimeout(function() {
						$('#rating_success').toggleClass('shown')
					}, 5000);
					
				} 
				else {
					console.log('error')
					alert(`${data.message}`)
				}
				
			}
		})
		})

		$('#save-note').click(function() {
			$(this).toggleClass('fa-solid fa-regular')
		})

		$('#download').click(function() {
			$.ajax({
			url: '',
			type: 'post',
			error: function(xhr, ajaxOptions, thrownError){ alert(thrownError); },
			success: function(data){
				if (data.success === true) {
					
				} 
				else {
					console.log('error')
					alert(`${data.message}`)
				}
				
			}
		})
		})

		$('#save-note').click(function() {
			$.ajax({
			url: '{% url "save_note" note_id=note.id %}',
			type: 'post',
			error: function(xhr, ajaxOptions, thrownError){ alert(thrownError); },
			success: function(data){
				if (data.success === true) {
					
				} 
				else {
					console.log('error')
					alert(`${data.message}`)
				}
				
			}
		})
		})
		
	</script>
{% endblock%}