{% extends 'front/master.html' %}
{% load static %}
{% load index %}

{% block head %}
<title>
	{%	block	title	%}
	{%	if	subject	%}
			{{	subject.title	}}	Notes
	{%	else	%}
        All	Notes
    {%	endif	%}
{%	endblock	%}
</title>
<link rel="stylesheet" href="{% static 'css/notes/note_list.css' %}">
<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock %}

{% block main %}
	<div class="content">
		<div class="page-heading-container">
			<h1 class="page-heading">
				{%	if	subject	%}
						{{	subject.title	}}	Notes
				{%	else	%}
					All	Notes
				{%	endif	%} 
			</h1>
			<div class='filter'>
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					  Filter
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item {%	if not school_level %}selected{%	endif	%}" href="
							{% if subject %}
							{% url 'note_list_subject' subject=subject.slug order=order %}
							{% else %}
							{% url 'note_list' order=order %}
							{% endif%}">All</a></li>
						<li><hr class="dropdown-divider"></li>
						{% for l in school_levels %}
						<li><a class="dropdown-item {% if	school_level ==	l %}selected{%	endif	%}" href="
							{% if subject %}
							{% url 'note_list_level_subject' school_level=l.slug subject=subject.slug order=order %}
							{% else %}
							{% url 'note_list_level' school_level=l.slug order=order %}
							{% endif%}
							">{{ l.title }}
							<br><span class="total-item">{{	l.total_notes	}} notes</span>
						</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					  Sort 
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						&nbsp;Date
					  <li><a class="dropdown-item" href="{{ request.path|sort_url:'created' }}">Ascending</a></li>
					  <li><a class="dropdown-item" href="{{ request.path|sort_url:'-created' }}">Descending</a></li>
					  <li><hr class="dropdown-divider"></li>
					  &nbsp;Rating
					  <li><a class="dropdown-item" href="{{ request.path|sort_url:'average_rating' }}">Ascending</a></li>
					  <li><a class="dropdown-item" href="{{ request.path|sort_url:'-average_rating' }}">Descending</a></li>
					</ul>
				</div>
			</div>	
		</div>
		
		<div class="contents-container">
			<div class="side-bar">
				<h3 class="side-bar-heading">Subjects</h3>
				<ul	id="side-bar-list" class="side-bar-list">
					<li class="side-bar-list-item {%	if	not	subject	%}selected{%	endif	%}">
					<a	href="{% if school_level %}
					{% url 'note_list_level' school_level=school_level.slug order=order %}
					{% else %}
					{% url 'note_list' order=order %}
					{% endif %}">All</a>
					</li>
					{%	for	s	in	subjects	%}
					<li	class="side-bar-list-item {% if subject == s %}selected{% endif %}">
					<a	href="
					{% if school_level %}
					{% url 'note_list_level_subject' school_level=school_level.slug subject=s.slug order=order %}
					{% else %}
					{% url 'note_list_subject' subject=s.slug order=order %}
					{% endif %}">
					{{	s.title	}}
					<br><span class="total-item">{{	s.total_notes	}}	notes</span>
					</a>
					</li>
					{%	endfor	%}
				</ul>
			</div>
			
			<div class="details-block" id="details-block">
				{%	for	note	in	notes %}
				<div class="card">
					<div class="row">
						<div class="">
							<a class="note-image" href="{% url 'note_detail' pk=note.pk %}"><img src="{{ note.cover_img.url }}" class="img_note" alt="..."></a>
						`	<div class="card-body ">
							<div style="display: flex; justify-content: space-between;">
								<a id="note-title" href="{% url 'note_detail' pk=note.pk %}"><h4>{{ note.title }}</h4></a>
								<div style="display: flex;">
									<p style="opacity: 70%;">{{ note.created|timesince }} ago &nbsp; </p>
									<p class="" style="display: inline; text-align: end; color: #FF9529;"> {{ note.get_average_rating|floatformat:"2"  }} {% if note.get_average_rating > 1.0 %} <i class="fa-solid fa-star-half-stroke"></i>
										{% elif note.get_average_rating > 4.5 %} <i class="fa-solid fa-star"></i>
										{% else %} <i class="fa-regular fa-star"></i>
										{% endif %}</p>
								</div>
								
							</div>
							<p class="card-text">{{ note.description }}</p>
							
						</div>

						</div>
					
						<div class="p-inline-container" >
							<div>
								<p class="p-inline"><a class="details-block-subject" href="{% url 'note_list_level' school_level=note.school_level.slug order=order %}">{% if note.school_level %}{{ note.school_level }}{% endif %}</a></p>&nbsp;
								<p class="p-inline"><a class="details-block-subject" href="{% url 'note_list_subject' subject=note.subject.slug order=order %}">{% if note.school_level %}{{ note.subject }}{% endif %}</a></p>
							</div>
							&nbsp;<p class="p-inline uploader"> Uploded by: {% if note.owner != None or note.owner != "" %}{{	note.owner.profile.profile_name	}} 
								{% else %}Uknown {% endif %}</p>
						</div>
						
					</div>
					
				</div>
				
				{% empty %}
				<h3>No notes for {% if school_level %} {{ school_level }} {% endif %}{% if subject %} {{ subject }} {% endif %} yet. Please try another subject!</h3>
				{%	endfor	%}
			</div>
		</div>
		
	</div>
    
{%	endblock	%}
{% block script%}
	<script src="{% static 'js/common.js' %}"></script>
	
{% endblock %}