{% extends 'front/master.html' %}
{% load static %}

{% block head %}
<title>Notes</title>
<link rel="stylesheet" href="{% static 'css/notes/note_list.css' %}">
<link href="">
{% endblock %}

{% block main %}

	<div class="content">
		<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '/';">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">home</a></li>
				<li class="breadcrumb-item active" aria-current="page">notes</li>
			</ol>
		</nav>
		<br>
		<a href="" style="color: black; text-align:right;"><h5>Upload Note</h5></a>

		<h3>All Notes</h3>

		<div class="row">
			<div class="col-sm-12 col-md-8" >
				{% for subject in subjects %}
					<div class="card">
						<div class="card-body" style="display: flex;">
							<div style="margin-right: 5px;">{{ subject.title }} </div>
						</div>
					</div>
					<div class="row">
						{% for note in notes %}
							{% if note.subject == subject %}
							<div class="col-xl-6">
								<div class="card">
									<div class="row">
										<a class="col-sm-4" href="{% url 'note_detail' pk=note.pk %}"><img src="{{ note.cover_img.url }}" class="img_note" alt="..."></a>
										<div class="card-body col-sm-8">
											<div style="display: flex; justify-content: space-between;">
												<a href="{% url 'note_detail' pk=note.pk %}"><h4>{{ note.title }}</h4></a>
												<p style="opacity: 70%;">{{ note.date|timesince }} ago</p>
											</div>
											<p class="card-text">{{ note.description }}</p>
											<div class="row">
												<p class="col-3" style="opacity: 70%;">{{ note.level }}</p>
												<p class="col-6"style="opacity: 70%;">{{ note.subject }}</p>
												<p class="col-3" style="text-align: end; color: #FF9529;">{{ avg_rating }} <i class="fa-solid fa-star-half-stroke"></i></p>
											</div>
											
										</div>
									</div>
									
								</div>
							</div>
							{% endif %}
						{% endfor %}

					</div>
				{% endfor %}
			</div>
			<div class="col-sm-12 col-md-4" >
				<div>

				</div>
				<div class="card">
					<div class="card-body" style="display: flex;">
						<div style="margin-right: 5px;">Latest </div>
					</div>
				</div>
				<div>
					{% for item in latest %}
						<h6>
							{{ forloop.counter }}. {{ item.title }}
						</h6>
					{% endfor %}
				</div>

				<div class="card">
					<div class="card-body" style="display: flex;">
						<div style="margin-right: 5px;">Your Recent Searches </div>
					</div>
				</div>
				<div>
					<h6>
						1. You wish lorem ipsum dolor sit amet consectetur
					</h6>
	
					<h6>
						2. You wish lorem ipsum dolor sit amet consectetur
					</h6>
	
					<h6>
						3. You wish lorem ipsum dolor sit amet consectetur
					</h6>
	
					<h6>
						4. You wish lorem ipsum dolor sit amet consectetur
					</h6>
	
					<h6>
						5. You wish lorem ipsum dolor sit amet consectetur
					</h6>
				</div>

				<div class="card">
					<div class="card-body" style="display: flex;">
						<div style="margin-right: 5px;">Most Popular </div>
					</div>
				</div>
				<div>
					<h6>
						1. You wish lorem ipsum dolor sit amet consectetur
					</h6>
	
					<h6>
						2. You wish lorem ipsum dolor sit amet consectetur
					</h6>
	
					<h6>
						3. You wish lorem ipsum dolor sit amet consectetur
					</h6>
	
					<h6>
						4. You wish lorem ipsum dolor sit amet consectetur
					</h6>
	
					<h6>
						5. You wish lorem ipsum dolor sit amet consectetur
					</h6>
				</div>
				
			</div>

		</div>

		<div class="banner">

		</div>

		<div class="row">
			<div class="col-sm-12 col-md-8" >
				<div class="card">
					<div class="card-body" style="display: flex;">
						<div style="margin-right: 5px;">Latest Uploads </div>
					</div>
				</div>
				<div class="row">
					{% for item in latest %}
					<div class="col-xl-6">
						<div class="card">
							<div class="row">
								<a class="col-sm-4" href="{% url 'note_detail' pk=item.pk %}"><img src="{{ item.cover_img.url }}" class="img_note" alt="..."></a>
								<div class="card-body col-sm-8">
									<div style="display: flex; justify-content: space-between;">
										<a href="{% url 'note_detail' pk=item.pk %}"><h4>{{ note.title }}</h4></a>
										<p style="opacity: 70%;">{{ item.date|timesince }} ago</p>
									</div>
									<p class="card-text">{{ item.description }}</p>
									<div class="row">
										<p class="col-3" style="opacity: 70%;">{{ item.level }}</p>
										<p class="col-6"style="opacity: 70%;">{{ item.subject }}</p>
										<p class="col-3" style="text-align: end; color: #FF9529;">{{ item.avg_rating }} <i class="fa-solid fa-star-half-stroke"></i></p>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
					{% endfor %}
					
				</div>
	
			</div>

			<div class="col-sm-12 col-md-4" >
				<div class="card">
					<div class="card-body" style="display: flex;">
						<div style="margin-right: 5px;">Get Notified </div>
					</div>
				</div>
				<div class="subscribe">
					<h3 class="subscribe_txt" >Subscribe</h3>
					<form class="subscribe_form" >
						<input class="subscribe_input" type="email" id="email" name="email" placeholder="Email">
						<button class="subscribe_button" type="submit"><i class="fa fa-arrow-right"></i></button>
					</form>
				</div>
	
				<div class="card">
					<div class="card-body" style="display: flex;">
						<div style="margin-right: 5px;">Tags </div>
					</div>
				</div>
	
				<div class="tags">
					<p class="tag">Zimsec</p>
					<p class="tag">Exam Paper</p>
					<p class="tag">Revision</p>
					<p class="tag">2022</p>
					<p class="tag">Maths</p>
				</div>
			</div>

	
		</div>

	</div>

{% endblock%}

{% block script %}
	<script src=""></script> 

{% endblock %}